/*             CSS Reset                    */

/* 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*	Variables	 */
					
/*New Layout Color Assist Tool: 
https://m3.material.io/theme-builder#/custom
*/			

:root{
    /* light */  /* primary */
  --primary0: #000000;
  --primary5: #290400;
  --primary10: #3C0800;
  --primary20: #611300;
  --primary25: #741900;
  --primary30: #881F00;
  --primary35: #9D2500;
  --primary40: #B32B00;
  --primary50: #DE3903;
  --primary60: #FF5628;
  --primary70: #FF8B6C;
  --primary80: #FFB4A1;
  --primary90: #FFDBD2;
  --primary95: #FFEDE9;
  --primary98: #FFF8F6;
  --primary99: #FFFBFF;
  --primary100: #FFFFFF;
  --primary-light: #B32B00;
  --primary-container-light: #FFDBD2;
  --on-primary-light: #FFFFFF;
  --on-primary-container-light: #3C0800;
  --secondary-light: #2D4BE5;
  --secondary-container-light: #DEE0FF;
  --on-secondary-light: #FFFFFF;
  --on-secondary-container-light: #000F5C;
  --tertiary-light: #006E2C;
  --tertiary-container-light: #8DFA9C;
  --on-tertiary-light: #FFFFFF;
  --on-tertiary-container-light: #002108;
  --error-light: #BA1A1A;
  --error-container-light: #FFDAD6;
  --on-error-light: #FFFFFF;
  --on-error-container-light: #410002;
  --outline-light: #85736F;
  --background-light: #FFFBFF;
  --on-background-light: #1C1B1F;
  --surface-light: #FFFBFF;
  --on-surface-light: #1C1B1F;
  --surface-variant-light: #F5DDD8;
  --on-surface-variant-light: #53433F;
  --inverse-surface-light: #313033;
  --inverse-on-surface-light: #F4EFF4;
  --inverse-primary-light: #FFB4A1;
  --shadow-light: #000000;
  --surface-tint-light: #B32B00;
  --outline-variant-light: #D8C2BC;
  --scrim-light: #000000;




}











/*                     Text                   */
h1, h2, h3, h4, h5, h6{
	font-family: var(--primary50);
	color: var(--primary_light);
	font-family: 'Ubuntu',sans-serif;
	line-height: 2;
}
h1 {
	text-align: center;
	font-size: 2em;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
	color: var(--on-primary-light);
}
h2 {
	font-size: 2.5em;
	
	font-weight: 500;
	text-align: center;
	color: var(--on-primary-container-light);
}
h3 {
	font-size: 2em;
	font-weight: 500;
	color: var(--dark_text);
	margin-left: 80%;
}
h4 {
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Ubuntu',sans-serif;
	color: var(--on-primary-container-light);
}
h5{
	font-size: 1em;
	font-style: italic;
	font-family: 'Ubuntu', sans-serif;
	color: var(--light_text);
}
h6{
	font-size: 1em;
	font-style: italic;
	font-family: 'Ubuntu', sans-serif;
	color: var(--light_text);
}

p{
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.5em;
	line-height: 1.5;
	color: var(--dark_text);
	padding: 5px;
	font:'IBM Plex Sans' ;
}

a {
	margin: auto;
	font-size: 1.5em;
	color: var(--secondary-light);
}




/*                     page elements    (Buttons, cards, headers, ETC)     */


header{
    text-align: center;
	font-size: 2em;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
	
    background-color: var(--primary50);
    padding-bottom: 15px;
    margin-bottom: 35px;
}

#closeTOListScreen {
	width: 110px;
	float: left;
	/*! display: flex; */
	position: absolute;
	font-size: 3em;
	/*! color: red; */
	background-color: tomato;
	border-radius: 10px;
}
#closeTOListScreen:hover {
	background-color: var(--tertiary-container-light);

}


button {
    height: 170px;
    background-color: var(--primary70);
    border: var(--outline-light) solid 2px;
    padding-bottom: 5px;

    margin-bottom: 1%;

    width: 1200px;
}

button:hover{
    background-color: var(--tertiary-container-light);
}

.card {
	width: 70%;
	min-height: 600px;
	box-sizing: border-box;
	background-color: var(--onteritary);
	color: var(--onteritaryContainer);
	margin: auto;
	text-align: center;
    outline: #9f8c8c solid 3px;
	margin-bottom: 100px;
	border-radius: 30px;
}
.card p{
	font-size: 2em;
	line-height: 1.5;
	
}
.card img{
	width: 80%;
	display: block;
	margin: auto;
}
.card figure{
	
	min-height: 100px;
	outline: 1px solid var(--primary_dark);
	outline-offset: 1px;
	overflow: auto;
}
footer {
    text-align: center;
    padding: 20px;
    background: var(--primary50);
    color: var(--on-primary-light);
}

#PRType {
	position: static;
	margin-left: inherit;
	padding-right: 50px;
	font-size: 2.5em;
	color: var(--on-primary-container-light);
}

#descriptionGraph {
	margin: auto;
	padding: 50px;
	color: var(--on-primary-container-light);
}

#NameHeader {
	padding-top: 25px;
	font-size: 3em;
	color: var(--on-primary-container-light);
}

#instagramIndicator {
	background-color: orange;
	margin-top: 5px;
	border-radius: 10px;
}

#webIndicator{
	background-color: lightseagreen;
	margin-top: 5px;
	border-radius: 10px;

}






/*                    layout       (footer, container, divs)              */




.RecipeZone {
    margin: auto;
    display: grid;
    justify-content: center;
    width: 95%;
}
  
.RecipeSiteZone {
    margin: auto;
    display: grid;
	border: var(--outline-light) solid 2px;
    justify-content: center;
    width: 1130px;
    background-color: var(--primary70);

    max-height: 40%;
    border-radius: 15px;
}

body{
	background: var(--surface-variant-light);
	background-repeat:repeat-y;
    margin:auto;
}
nav{
	text-align: center;
	padding: 30px; 
	line-height: 3;
}

nav a{
	text-decoration: none;
	display: block;
	border: 3px solid var(--primary);
	border-radius: 20px;
	padding: 10px 30px;
	color: var(--light-text);
	background-color:var(--primary);
	font-family: var(--text);
	font-weight: bold;
	font-size: 1.5em;
}



 

.container{
	width: 95%;
	background-color: var(--teritaryContainer);
    color: var(--onteritaryContainer);
}

img {
	display: block;
	width: 85%;
	/*! height: 60%; */
	
	margin: auto;
	border-radius: 15px;
}


figcaption{
	text-align: center;
	color: var(--light-text);
	
}
main{
    margin: auto;
}

aside{
	float: right;
	display: block;
	border: 2px solid var(--primary-light);
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
	min-height: 600px;
	
	
}
aside h1, aside h2{
	text-align: center;
	color: var(--light-text);


}



figure #image{
	float:left;
	width: 33.33%;
}



figure p{
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.5em;
	line-height: 1.5;
	color: var(--primary_light);
	padding: 50px;
	font:'IBM Plex Sans' ;
}






/* 				Responsive Design    */



.row::after{
	content: "";
	clear: both;
	display: table;
}
  


/* For mobile phones: */
[class*="col-"]{
	width: 100%;
}
  
@media only screen and (min-width: 768px){
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}